@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --orange: #ff7800;
  --red: #ff2c2c;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 1.5rem solid rgba(0, 0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.1rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background-color: #eee;
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
  padding: 2rem 0;
  color: var(--black);
}

/* =================== start ===================== */

.btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  color: var(--black);
  border: 0.2rem solid var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background-color: rgb(250, 90, 90);
  color: white;
  transition: all 0.4s linear;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  box-shadow: var(--box-shadow);
  height: 90px;
  background-color: white;
}
.header .logo {
  padding-top: 10px;
}

.navbar a {
  color: #000;
  margin-right: 18px;
  font-weight: 500;
  font-size: 20px;
}
.navbar a:hover {
  color: white;
  background-color: rgb(250, 90, 90);
  border: 1px solid rgb(250, 90, 90);
  padding: 8px;
  border-radius: 24px;
  outline: none;
}

.header .icons div {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  border-radius: 15px;
  /* background: #eee; */
  color: var(--black);
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  margin-right: 0.3rem;
}
.header .icons div:hover {
  background-color: rgb(250, 90, 90);
  color: white;
}
#menu-btn {
  display: none;
}
.search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  height: 4rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

/* for toggle button coming from javascript  */
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
/* ----------- */

.header .search-form input {
  width: 100%;
  height: 100%;
  background: none;
  text-transform: none;
  font-size: 1.3rem;
  padding: 0 1.5rem;
}
.header .search-form label {
  font-size: 1.7rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--orange);
}

/* ====== cart ======= */
.shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 26rem;
  background: #fff;
  height: auto;
}
.shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  margin: 1rem 0;
  position: relative;
  padding-left: 30px;
  /* justify-content: center; */
}
.shopping-cart .box .fa-trash {
  position: absolute;
  font-size: 1.5rem;
  top: 47%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
}
.shopping-cart .box .fa-trash:hover {
  color: var(--red);
}
.shopping-cart .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  padding-bottom: 0.7rem;
}
.shopping-cart .box span {
  color: var(--light-color);
  font-size: 1.2rem;
}
.shopping-cart .box .quantity {
  padding-left: 1rem;
}

.shopping-cart .total {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}
.shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
}
.shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}

/****** login form  *******/
.header .login-form {
  height: 500px;
  top: 110%;
  right: -110%;
  width: 30rem;
  position: absolute;
  color: var(--black);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  background-image: url(./images/banners/login.jpg);
  background-size: cover;
}
.header .login-form h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 20rem;
  margin-left: 50px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0rem;
  padding: 1rem;
  margin-top: 2rem;
  background: #eee;
  font-size: 1rem;
  border-radius: 0.7rem;
  color: var(--black);
  text-transform: none;
}
.header .login-form p {
  font-size: 1rem;
  color: rgb(222, 220, 220);
  padding: 0.5rem 0;
}
.header .login-form p a {
  color: blue;
  text-decoration: underline;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

/*============== hero section  ===============*/
.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-size: contain; */
  background: url(images/banners/banner-main.png) no-repeat;
  background-position: center;
  padding-top: 36.3rem;
  margin-top: 5.3rem;
  background-size: contain;
}
.bg-img {
  display: none;
}
.home .content {
  text-align: center;
  width: 60rem;
}
.home .content h3 {
  font-size: 3rem;
  color: white;
}
.home .content h3 span {
  color: rgb(251, 227, 48);
}
.home p {
  color: white;
}

/*========= features section  ==========*/
.heading span {
  background: rgb(129, 48, 251);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  text-align: center;
}
.features .box h3 {
  font-size: 2rem;
}
.features .box-container .box {
  padding: 2rem 1rem;
  background: #fff;
  outline: var(--outline);
  border-radius: 0.5rem;
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.features .box-container .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.features .box-container .box p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--light-color);
}

/* menu section */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.menu img {
  width: 30rem;
  flex-basis: 20%;
}
/* --------------product section------------------ */

.product {
  height: 370px;
  width: 320px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}
.product-sec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.products .product img {
  width: 230px;
  padding-top: 6px;
}
.products .product {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.products button {
  background-color: violet;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.products {
  flex-basis: 23%;
  margin: 20px 0px;
}
.product:hover {
  background-color: rgb(254, 188, 88);
  color: white;
  transform: scale(1.1);
  transition: all 0.3s linear;
}
button:hover {
  background-color: aliceblue;
  color: black;
}
.products .call-btn {
  background-color: rgb(1, 205, 1);
}
.call-btn:hover {
  background-color: aliceblue;
  color: black;
}

/* ========= cateories section ========== */

.categories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
  gap: 2rem;
  text-align: center;
}

#categories .box-container .box {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  outline-offset: -1rem;
}
.categories .box-container .box:hover {
  transform: translateY(20px);
  border: 1px solid black;
}
.categories .box-container .box p {
  color: var(--light-color);
}

/* ------------booking section------------- */
.booking-heading {
  text-align: center;
  font-size: 3rem;
  border-radius: 30px;
  background: linear-gradient(to left, #1dc3fa 0%, #f76fb3 100%);
  width: 20em;
}
.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.booking img {
  margin-top: 20px;
}

/*============ blog section ============= */

.blog .box-container .box img {
  height: 23rem;
  width: 33rem;
  padding: 0.5rem;
}

.blog .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* flex-wrap: wrap; */
}
.blog .box-container .box {
  text-align: center;
  background: #fff;
  box-shadow: var(--box-shadow);
  border: 2px solid gray;
  /* flex-basis: 22%; */
  border-radius: 1rem;
}
.blog .box-container .box p {
  color: var(--light-color);
}
.blog .box-container .box .content {
  padding: 0.5rem 0rem;
}
.blog .box-container .box h3 {
  font-size: 1.7rem;
}
.blog .box-container .box .icons i {
  padding: 0 1rem;
}

/* ------------contact section-------------- */
.contact-us img{
  width: 300px;
}
.contact-us{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13em;
}
.fb img{
  width: 270px;
}
.insta img{
  width: 430px;
  padding-bottom: 50px;
}
.whatsapp h4{
  font-size: 30px;
  text-align: center;
}
.whatsapp{
  margin-top: 20px;
  margin-left: 100px;
}
/* -------suscribe section----------- */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  text-align: center;
  height: 6rem;
  background: linear-gradient(to bottom, #00ccff 0%, #ff99cc 100%);
  border-radius: 20px;
  gap: 20px;
}
.suscribe{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
  gap: 30px;
}
.suscribe h1{
  font-size: 50px;
}
.suscribe input{
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  width: 30rem;
}
.suscribe button{
  padding: 12px;
  font-size: 20px;
  border-radius: 20px;
  background: #ff9d13;
  color: white;
  font-weight: 600;
  width: 10rem;
  cursor: pointer;
}
.suscribe button:hover{
  background-color: white;
  color: black;
}

/* ------------- footer section start------------- */
.footer-boxex{
  display: flex;
  justify-content: center;
  gap: 300px;
  background: rgb(223, 222, 222);
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.footer-box{
  display: flex;
  flex-direction: column;
}
.footer-box a{
  color: rgb(71, 70, 70);
  padding-top: 10px;
}
.footer-box h4{
  font-size: 20px;
}
.footer-box a:hover{
  color: rgb(0, 107, 200);
}
.Copyright{
  text-align: center;
  color: #666;
}







/*================ media queries =================  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    margin-top: 10.5rem;
    background-size: cover;
  }
}

/*============ for mobile  ===========*/
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    top: 110%;
    right: -110%;
    width: 30rem;
    position: absolute;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background: #fff;
  }
  .header .navbar a {
    display: block;
    margin: 2rem 2.5rem;
    font-size: 2rem;
  }
  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }
  .header {
    height: 70px;
  }
  .header .search-form {
    width: 80%;
  }
  .home {
    margin-top: 0rem;
    background-size: cover;
  }

  /* =============== */
  button {
    background-color: violet;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .flexbox p {
    display: none;
  }

  .flexboxex .buybtn {
    background-color: rgb(239, 166, 21);
  }
  .flexboxex .buybtn:hover {
    color: black;
    background-color: white;
  }
  .flexboxex button {
    margin-top: 6px;
  }
  .flexboxex img {
    margin: 1px 8px;
  }
  .addcartbtn {
    width: 100px;
  }
  .flexboxex {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  /* =============== */
  .blog .box-container {
    flex-wrap: wrap;
  }
  .header .login-form {
    height: 300px;
    width: 400px;
  }
  .flexboxex {
    overflow: hidden;
  }
  .products .addcartbtn {
    width: 129px;
  }
  .products .container {
    width: 100%;
    height: 70vh;
    text-align: center;
    background-color: rgb(243, 243, 243);
    padding-top: 10px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .categories .box-container .box img {
    width: 110px;
  }
  .home .content {
    background-size: cover;
  }
  .heading {
    font-size: 2.5rem;
  }
  /*.categories {
    /* margin-top: 990px; */
  /* margin-top: 10px; 
  }*/
  .header .login-form {
    height: 250px;
    width: 300px;
    font-size: 20px;
  }
  .header .login-form p {
    font-size: 12px;
  }
  .header .login-form .box {
    font-size: 12px;
  }
  .header .login-form p {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.889);
    padding: 0.4rem 0;
  }
  .products .addcartbtn {
    width: 129px;
  }
  .products .flexboxex .flexbox {
    height: 330px;
  }
  .menu img {
    width: 50rem;
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(images/banners/banner-main.png) no-repeat;
    background-position: center;
    padding-top: 16.1rem;
    margin-top: 5.3rem;
    background-size: contain;
  }
  .book-table {
    width: 130px;
    margin-bottom: 7px;
  }
  .booking .img-2 {
    display: none;
  }
  .booking-heading {
    width: 400px;
  }
  .booking img {
    width: 30rem;
  }
  .products h3,.price{
    font-size: 16px;
  }
  .products h3{
    padding-top:10px;
  }
  
  .footer-boxex{
    display: flex;
    justify-content: center;
    background: rgb(223, 222, 222);
    height: auto;
    gap: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    padding-right:5px;
    padding-left:5px;
  }
  .footer-box{
    display: flex;
    flex-direction: column;
  }
  .footer-box a{
    color: rgb(71, 70, 70);
    padding-top: 10px;
    font-size: 13px;
  }
  .footer-box h4{
    font-size: 20px;
    font-weight: 400;
  }
  .footer-box a:hover{
    color: rgb(0, 107, 200);
  }
  .Copyright{
    text-align: center;
    color: #666;
  }
  .terms{
    text-align: center;
  }
  .contact-us img{
    width: 100px;
  }
  .contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
  .fb img{
    width: 80px;
  }
  .insta img{
    width: 130px;
    padding-bottom: 50px;
  }
  .whatsapp h4{
    font-size: 15px;
    text-align: center;
  }
  .whatsapp img{
    width: 100px;
  }
  .whatsapp{
    margin-top: 20px;
    margin-left: 25px;
  }
  .fb{
    padding-left: 50px;
  }
  .insta img{
    padding-bottom: 10px;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    text-align: center;
    height: 6rem;
    background: linear-gradient(to bottom, #00ccff 0%, #ff99cc 100%);
    border-radius: 20px;
    gap: 20px;
  }
  .suscribe{
    margin-bottom: 30px;
    flex-direction: column;
    gap: 20px;
  }
  .suscribe h1{
    font-size: 25px;
  }
  .suscribe input{
    padding: 5px;
    font-size: 15px;
    padding-left: 20px;
  }
  .suscribe button{
    padding: 7px;
    font-size: 15px;
  }
  .book-table img{
    padding-right: 50px; 
  }
}

@media (max-width: 345px) {
  html {
    font-size: 50%;
  }
  .categories .box-container .box img {
    width: 130px;
  }
  .home .content {
    background-size: contain;
  }
  .heading {
    font-size: 2.5rem;
  }
  .categories {
    margin-top: 2500px;
  }
  .header .login-form {
    height: 250px;
    width: 300px;
    font-size: 20px;
  }
  .header .login-form p {
    font-size: 12px;
  }
  .header .login-form .box {
    font-size: 12px;
  }
  .header .login-form p {
    font-size: 1.3rem;
    color: var(--light-color);
    padding: 0.4rem 0;
  }
  .products .addcartbtn {
    width: 129px;
  }
  footer {
    display: none;
  }
  .products .flexboxex .flexbox {
    height: 330px;
  }
  .products .container {
    margin-right: 10px;
  }

}
@media (max-width: 376px) {
  .categories {
    margin-top: 4px;
  }
  .booking-heading{
     width: 350px;
  }
 
}
